body{
    background-color:hsl(204, 43%, 93%);
    font-family:Karla; 
    font-size: 16px; 
    font-weight: 400, 700;
}   

.box{
    display: flex;
    justify-content: center;
    align-items:center;
}
#container {
    width: 90vh;
    height: 40vh;
    margin-top: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "box1 box1"
    "box2 box3";  
}

.item {

    display: grid;   
    background-color: grey;
    font-size: 16px;
    font-family: "karla", sans-serif;
    padding: 15px;
   
   }
.head{
    color:hsl(179, 62%, 43%);
}


.button{
    background-color:yellow;
    width: 220px;
    height: 35px;
    border: none;
    font-size: 1rem;
    color:white;
    font-size: 16px;
    outline: none;
    box-shadow: none;
    

}
.one {
    background-color:white;
    grid-area: box1 ;
    text-align: left;
    
}

.two {
    background-color: hsl(179, 62%, 43%);
    grid-area: box2 ;
  
}
.one h4 {
    color: yellow;
}
h5{
    color:#e5eff5;
}
 p{
    color:#e5eff5;    
}

.three {
    background-color:rgba(42, 178, 175, 0.85);
    grid-area: box3;    
}

.pay{
    color:#e5eff5 ;
    font-size: 30px;
}
.pay span{
    font-size: 16px;
}
    
.list{
    
    list-style-type: none;
    color: #e5eff5;
    text-align: left;
    padding: 10px; 

}
