body{
    font-size: 13px; 
    font-family: manrope;
    background-color: hsl(217, 19%, 35%) ;
}

.flex-box{
    width: 110vh;
    background-color: white;
    display: grid;
    grid-template-columns: 50vh 70vh ;
    grid-template-areas: "box1 box2";

    border-radius: 50%;
   
}
/*.box-1{
    grid-area: "box1" ;
    border-radius: 20px;
    background-color: tomato;
    padding:0px;
    margin: 0;
}
.img1{
  
} 
/*.box-2{
    grid-area: "box2";
    display: flex;

    align-items:center;
    flex-flow:column; 
    background-color:white; 
    padding: 15px;
} 
.top{
    flex: 1;
    flex-grow: initial
    ;
    
}
.paragraph{
        background-color: ;
}
.profile{
    flex: 1;
    background-color: ;
    max-height: 10vh;
    display: grid;
    grid-template-columns: auto 1fr 1fr;
}
.profilepic{
    max-height: 10vh;
    border-radius: 50%;
    padding: 5px;
}
.name{
    justify-self: right;
    background-color:blanchedalmond;
}
.icon{
    justify-self: right;
    padding: 0px;
    background-color:;
}
.button{
    border-radius: 50%;
    background-color:hsl(210, 46%, 95%) ;
    border: none;
}
p{
    color: lightcoral;
    max-width: 60%;
}